{% extends "template.html" %}
{% block style %}
  .row:nth-child(even) {
    background-color: rgba(0,0,0,.1);
  }
  .row:nth-child(odd) {
    background-color: rgba(255,255,255);
  }
{% endblock %}
{% block content_title %}
Invoices - List
{% endblock %}
{% block content %}
<p>Invoices on system:</p><a href="new" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Add new invoice</a>
<div class="container">
    <div class="row">
      <div class="col-sm"></div>
    </div>
  <div>
    &nbsp;
  </div>
  {% for item in invoices.all %}
    <div class="row">
      <div class="col-sm">
        <a href={% url 'invoice' item.id %}>Invoice: {{ item.id }} - Vendor: {{ item.vendor.name }}</a>
      </div>
    </div>
  {% endfor %}
  </div>
  <BR>
{% endblock %}
